---
layout: default
---

<h1>{{ page.title }}</h1>
<small>{{ page.date | date: "%-d %B %Y" }}</small>
<p class="view"><br></p>

<div class="post">
  {{content}}
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:5 %}
    <li><span>{{ post.date | date_to_string }}</span> - <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

{% if site.disqus %}
<br />
<br />
<hr />
<div id="comments">
  <div id="gitalk-container"></div>
  <script type="text/javascript">
    var gitalk = new Gitalk({
      clientID: 'Ov23li7CzRNOEzeVNYnw',
      clientSecret: '98846ce4abbae2d906ce9472501090f9a4349723',
      repo: 'jackarain.github.com',
      owner: 'Jackarain',
      admin: ['Jackarain'],
      id: md5(location.pathname),
      distractionFreeMode: true,
    });
    gitalk.render('gitalk-container');
  </script>
</div>
{% endif %}